*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container{
  max-width: 900px;
  width: 100%;
  background: white;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 25px 50px rgba(0,0,0,.25);
  animation: fade 0.8s ease;
}




.hero{
  text-align: center;
  margin-bottom: 50px;
}

.profile-img{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.profile-img img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  transition: .3s;
}

.profile-img img:hover{
  transform: scale(1.05);
}

.hero h1{
  font-size: 32px;
}

.hero h3{
  color: #667eea;
  font-weight: 500;
  margin: 10px 0;
}

.hero p{
  max-width: 600px;
  margin: 15px auto 25px;
  color: #333;
}


.buttons{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons button{
  flex: 1;
  min-width: 140px;
  padding: 11px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  transition: .3s;
  font-size: 14px;
  
}

.follow{ background: #667eea; }
.message{ background: #48bb78; }
.share{ background: #ed64a6; }

.buttons button:hover{
  transform: translateY(-4px);
  opacity: .9;
}

section{
  margin-bottom: 40px;
}

h2{
  margin-bottom: 15px;
  color: #222;
}

.habilidades{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
  
}

.skill{
  background: #f8f8f8;
  padding: 9px;
  text-align: center;
  border-radius: 8px;
  font-weight: 600;
  transition: .3s;
}

.skill:hover{
  background: #667eea;
  color: white;
}


.objetivo p{
  max-width: 700px;
  color: #333;
}

footer{
  text-align: center;
  margin-top: 20px;
  color: gray;
  font-size: 14px;
}

.aprimoração{
  background: #f8f8f8;
  padding: 9px;
  text-align: center;
  border-radius: 8px;
  font-weight: 600;
  transition: .3s;
}

.aprimoração:hover{
  background: #667eea;
  color: white;
}