*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: linear-gradient(135deg, #667eea, #764ba2);
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-img img{
 width: 150px;
 height: 150px;
 object-fit: cover;
}

.card{
 width: 300px;
 padding: 20px;
 background: white;
 border-radius: 16px;
 box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.profile-img{
 display: flex;
 justify-content: center;
 align-items: center;
}

.follow{
 border: none;
 padding: 10px;
 border-radius: 10px;
 color: white;
 background: #667eea;

}

.Message{
 border: none;
 padding: 10px;
 border-radius: 10px;
 background:#48bb78;
 color: white;
}
.Share{
 border: none;
 padding: 10px;
 border-radius: 10px;
 background:#ed64a6;
 color:white;
}

button:hover{
 font-size: 15px;
}

.card:hover .profile-img img {
  transform: scale(1.02);
}

.card:hover{
 transform: translateY(-8px);
 box-shadow: 0 25px 50px rgba(0, 0, 0, 0.27);
}